# Printing

In [1]:
print("Hello, World!")

Hello, World!

# Comments

In [ ]:
#if you dont like a code like JUST HASHTAG IT

# Variables

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [4]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [5]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [6]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [7]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

# Lists

In [8]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [9]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [13]:
#TODO
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [14]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [18]:
#TODO
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [19]:
#TODO
#COPY LIST
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# Tuples

In [20]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [21]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [22]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [23]:
#change the value in the tuples
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [24]:
#looping through a tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [25]:
#checking the value in a tuple 
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [26]:
#checking the length of the tuple 
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [28]:
#adding a element in a tuple 
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)
#ERROR because we cannot add elements in a tuple

TypeError: 'tuple' object does not support item assignment

In [29]:
#joining two tuples 
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Sets

In [30]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [31]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [32]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [33]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [34]:
#updating a set 
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'apple', 'orange', 'cherry', 'mango', 'banana'}

In [35]:
#removing an item in a set 
#using remove keyword 
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [36]:
#removing an item in a set 
#using discard keyword 
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [38]:
#join Two sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [39]:
#update Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

# IF...Esle

In [47]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [48]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [49]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [50]:
#shorthand If statement
if a > b: print("a is greater than b")

a is greater than b

In [51]:
#shorthand If-Else statement
a = 2
b = 330
print("A") if a > b else print("B")

B

In [52]:
#stage 3 
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [53]:
#using AND KEYWORD
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [54]:
#using OR KEYWORD
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [55]:
#NESTED IF 
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# Loops

## While Loops

In [56]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [57]:
#using BREAK statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [58]:
#usnig CONTINUE statement 
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [59]:
#Using If...Else statemonts with Loops 
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## For Loops

In [60]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [62]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [63]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [65]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [66]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [67]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [68]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [70]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [71]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry